
.container {
  display: flex;
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Helvetica";
}

a {
  text-decoration: none;
}
.row {
  display: flex;
  justify-content: space-between;
}
.row.center {
  align-items: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.text-right {
  text-align: right;
}
img.small {
  max-height: 8rem;
}

button.add {
  background-color: #40c0f0;
  width: 1.5rem;
  border-radius: 10px;
  margin: 1px;
}
button.remove {
  background-color: #f04040;
  width: 1.5rem;
  border-radius: 10px;
  margin: 1px;
}
button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}
